<?xml version="1.0"?>
<launch>
    <arg name="dev" default="/dev/ttyACM2"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="speed_multiplier" default="0.1"/>
    <arg name="twist_topic" default="recv_data_roboclaw"/>
    <arg name="enable" default="false"/>

    <node pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node" output="screen">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~speed_multiplier" value="$(arg speed_multiplier)"/>
        <param name="~twist_topic" value="$(arg twist_topic)"/>
        <param name="~enable" value="$(arg enable)"/>
    </node>

</launch>
