<launch>
    <arg name="dev" default="/dev/ttyACM0"/>
    <arg name="baud" default="115200"/>
    <arg name="camera_topic" default ="usb_cam/image_raw/compressed"/>
    <arg name="hector_topic" default = "TODO"/>
    <arg name="jpeg_quality_level" default="40"/>

    <node pkg="nordic_node" type="nordic_recv.py" name="nordic_recv">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~camera_topic" value="$(arg camera_topic)"/>
        <param name="~hector_topic" value="$(arg hector_topic)"/>
        <param name="~jpeg_quality_level" value="$(arg jpeg_quality_level)"/>
    </node>

    <node pkg="nordic_node" type="nordic_send.py" name="nordic_send">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
    </node>

</launch>